body{
    margin: 0;
    height: 100%;
    font-family: 'Arimo', sans-serif;
}
.container {
    display: flex;
    padding: 30px;
}

.top {
    background-color: rgb(26, 156, 150, 0.4);
}

.circle {
    width: 20px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: brown;
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.4);
}

.icons {
    position: absolute;
    left: 185px;
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
}

i {
    padding-left: 52px;
    padding-bottom: 20px;
}

#text {
    padding-top: 151px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
}

.bottom {
    padding-top: 0;
}