body{
    margin: 0;
    height: 100%;
    font-family: 'Arimo', sans-serif;
}
.container {
    display: flex;
    padding: 30px;
    padding-bottom: 10px;
}

.top {
    background-color: rgb(26, 156, 150, 0.4);
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: brown;
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.4);
}

.icons {
    cursor: pointer;
    position: absolute;
    left: 185px;
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
}

.icon:hover{
    color: whitesmoke;
}

.icon {
    padding-left: 52px;
    padding-bottom: 20px;
}

#text {
    padding-top: 160px;
    color: slategrey;
}

.contact-form {
    width: 100%;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

.contact-form button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(26, 156, 150, 0.4);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

.contact-form h2{
    color: slategray;
}

.bottom {
    padding-top: 0;
}

#footer {
    display: flex;
    width: 100%;
    background-color: teal;
    height: 50px;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
}

.social-icons {
    font-size: 20px;
    align-self: center;
    cursor: pointer;
}

.social-icons:hover {
    color: whitesmoke;
}

.social-link {
    color: black;
}

.social-link:hover {
    color: whitesmoke;
}

@media only screen and (min-width:800px){
    .container.top {
        display: inherit;
    }
    #profile-pic {
        position: relative;
        margin: 0 auto;
    }
    .icons {
        padding-top: 20px;
        position: inherit;
        justify-content: space-between;
    }
    #text {
        text-align: center;
        padding-top: 0;
    }
}